/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -- RESET 到此為止 -- */

*, *::after, *::before{
    box-sizing: border-box;
    transition: all .2s;
}

html{
    --mainColor: #00807e;
    --subColor: #64c3bf;
}

body{
    font-size: 16px;
    line-height: 2;
    font-family: 'Microsoft Jhenghei';
}

h1{
    font-size: 22px;
    font-weight: bold;
    color: var(--mainColor) ;
}

.main{
    max-width: 920px;
    margin: 50px auto 95px auto;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content:space-evenly;
}

.main>div:first-child{
    width: 40%;
    padding-top: 50px;
    padding-left: 80px;
}

.main>div:last-child{
    width: 60%;
    padding: 50px 80px;
}

.main-left img{
    width: 100%;
    object-fit: contain;
}

.form>h1{
    border-bottom: 2px solid var(--mainColor);
    margin-bottom: 20px;
}

.form-q{
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 10px;
}

.form-q label{
    color: var(--mainColor);
    font-weight: bold;
}

.form-q input, .form-q textarea, .form-q select {
    font-size: 16px;
    line-height: 2;
    width: 70%;
    border-bottom: 1px solid var(--mainColor);
    border-top: none;
    border-left: none;
    border-right: none;
    color: grey;
}

.form-q input, .form-q textarea{
    text-indent: 5px;
}

.form-q textarea{
    line-height: 1.5;
}

.form button{
    background-color: var(--mainColor);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.form button:hover{
    color: var(--mainColor);
    background-color: white;
    border: 1px solid var(--mainColor);
}

@media screen and (max-width: 760px) {
    .main{
        flex-direction: column;
        align-items: center;
    }
}

.ticketList{
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0 10px 0;
}

.areaTop{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items:start;
}

.chooseArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: grey;
}

.chooseArea>select {
    font-size: 16px;
    padding: 10px 12px;
    border: 1px solid rgb(170, 168, 168);
    border-radius: 5px;
    width: 255px;
    color: grey;
    margin-right: 10px;
}

.c3-stanford-text, .c3-stanford-texts{
    font-size: 30px;
}

.showTickets{
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.showTickets>.ticketCard{
    width: 31.33%;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
    padding-bottom: 16px;
    margin-top: 60px;
    margin-right: 20px;
}

@media screen and (max-width: 770px) {
    .chooseArea{
        justify-content: center;
    }

    .chooseArea select{
        width: 90%;
    }

    .showTickets>.ticketCard{
        width: 46%;
    }
}

@media screen and (max-width: 575px) {
    .showTickets{
        justify-content: center;
    }
    .showTickets>.ticketCard{
        width: 90%;
    }
}

.ticketCard>.ticketImg, .ticketImg>a, .ticketImg img{
    width: 100%;
    height: 175px;
   
}

.ticketImg>a{
    overflow: hidden;
    display: block;
}

.ticketImg img:hover{
    transform: scale(1.2);
}

.ticketCard>.ticketImg{
    position: relative;
}

.ticketImg .ticketArea{
    position: absolute;
    top: -15px;
    font-size: 22px;
    padding: 3px 25px;
    color: white;
    background-color: var(--subColor);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ticketImg .ticketRank{
    position: absolute;
    bottom: -15px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 2px 10px;
    color: white;
    background-color: var(--mainColor);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.ticketCard h2{
    font-size: 24px;
    font-weight: bold;
    color: var(--mainColor);
    margin: 10px 16px;
    border-bottom: 2px solid var(--mainColor);
}

.ticketCard p{
    color: grey;
    line-height: 1.5;
    margin: 0 16px 30px 16px;
}

.ticketCard .ticketSale{
    margin: 10px 16px;
    color: var(--mainColor);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.ticketCost{
    display: flex;
    justify-content: flex-end;
    align-items: top;
}

.ticketCost .price{
    font-size: 32px;
    line-height: 1.2;
    margin-left: 5px;
}

